:root {
    --font-primario: Paytone One;
    --font-secundario: 'Jockey One', sans-serif;
    --font-terciario: 'Belanosima', sans-serif;
    /* --sombra: 0px 10px 10px 0px rgba(0, 0, 0, 0.5); */
    /* --inset: inset 0px 0px 500px 0px rgba(0, 0, 0, 1); */
    --max-width: 1200px;
}

body#zona-gamer {
    --color-primario: #EC2127;
    --color-secundario: #EA0B8B;
    --color-terciario: #683A10;
    --color-cuaternario: #9B4917;
    --color-blanco: #fff;
    --color-title: #fff;
    --color-subtitle: #fff;
    --color-gris: rgb(104, 104, 104);
    --color-amarillo: #FBB916;
    --color-amarillo-claro: #FFE74D;
    --color-botones: #f1484d;
    --bg-rectangulos: #18401E;
}

body#inicio {
    --color-primario: #18401E;
    --color-secundario: #D2D90B;
    --color-terciario: #683A10;
    --color-cuaternario: #9B4917;
    --color-blanco: #fff;
    --color-title: #fff;
    --color-subtitle: #000;
    --color-gris: rgb(104, 104, 104);
    --color-amarillo: #FBB916;
    --color-amarillo-claro: #FFE74D;
    --color-botones: #D2D90B;
    --bg-rectangulos: #18401E;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    list-style: none;
}

/* NAV */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all 0.3s ease;
}

.navbar.scrolled .row-1 {
    background-color: var(--color-primario);
}

.navbar.scrolled .row-2 {
    background-color: var(--color-blanco);
}

.navbar.scrolled .row-2 a {
    color: var(--color-negro);
}

.navbar .row-1 {
    height: 80px;
    background: var(--color-primario);
}

.navbar .row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--color-blanco);
}

.navbar .container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    height: 60px;
    width: auto;
}

.navbar .btn {
    background-color: var(--color-botones);
    color: var(--color-subtitle);
    padding: 10px 20px;
    border: none;
    box-shadow: var(--sombra);
    font-style: 16px;
    cursor: pointer;
    font-family: var(--font-primario);
    transition: all 0.2s ease-in-out;
}

.navbar .btn:hover {
    filter: brightness(110%);
}

.navbar .social-icons {
    color: var(--color-blanco);
    display: flex;
}

.navbar .social-icons a {
    margin-right: 5px;
    color: var(--color-blanco);
}

.navbar .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.navbar .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    font-family: var(--font-terciario);
}

.navbar .navigation a {
    font-size: 20px;
    color: var(--color-negro);
}

.navbar a:hover {
    text-shadow: 10px 10px 10px 10px #075e54;
}

.navbar .navigation li {
    margin: 0 10px;
    transition: all 0.1s ease-in-out;
}

#menuPanel {
    display: none;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    position: fixed;
    top: 0;
    right: -350px;
    height: 100%;
    width: 250px;
    padding: 20px;
    z-index: 99999999999999999;
    transition: right 0.3s ease;
}

#menuPanel.open {
    right: 0;
}

.panel-navigation {
    list-style: none;
    padding: 0;
    font-family: var(--font-secundario);
}

.panel-navigation li {
    margin: 10px 0;
}

.panel-navigation li a {
    color: var(--color-blanco);
}

@media only screen and (max-width: 768px) {
    .navbar .hamburger {
        display: flex;
    }

    .navbar .btn {
        margin-right: 20px;
    }

    .navbar .social-icons {
        display: none;
    }

    .navbar .row-2 {
        display: none;
    }

    .navbar .navigation {
        display: none;
    }

    #menuPanel {
        display: block;
    }
}

/* FOOTER */

footer {
    background: var(--color-primario);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

footer a {
    color: var(--color-blanco);
}

footer .container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
}

footer .columna-1 {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer .columna-1 ul {
    list-style: none;
    padding: 40px 0px 0px 0px;
    margin: 0;
    color: var(--color-blanco);
    font-size: 15px;
    font-family: var(--font-primario);
}

footer .columna-1 ul li {
    margin-bottom: 10px;
}

footer .columna-2 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}

footer .columna-2 h3 {
    margin-bottom: 10px;
    color: var(--color-blanco);
    font-size: 25px;
    font-family: var(--font-primario);
    font-weight: lighter;
}

footer .botones button {
    background-color: var(--color-botones);
    color: var(--color-subtitle);
    padding: 10px 20px;
    border: none;
    font-style: 16px;
    cursor: pointer;
    font-family: var(--font-primario);
    font-size: 14px;
    box-shadow: var(--sombra);
    transition: all 0.2s ease-in-out;
}

footer .botones button:hover {
    filter: brightness(120%);
}

footer .redes-sociales {
    margin-top: 15px;
    color: var(--color-blanco);
}

footer .columna-2 .redes-sociales i {
    margin-right: 10px;
}

footer .columna-3 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo img {
    max-width: 300px;
    max-height: 100%;
}

/* Media queries para pantallas menores a 768px */
@media (max-width: 767px) {
    footer {
        height: 600px;
        /* Ajustar la altura del footer según sea necesario */
    }

    footer .container {
        flex-wrap: wrap;
    }

    footer .columna-1 {
        display: none;
    }

    footer .columna-2 {
        order: 2;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    footer .columna-3 {
        order: 1;
        margin-top: 20px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    footer .columna-3 .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    footer .columna-3 .logo img {
        max-height: 110px;
        max-width: 100%;
    }
}

/* PAGINA INICIO PRINCIPAL */


/* BANNER SUBPÁGINAS*/

.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner .banner-video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.banner .banner-video img,
.banner .banner-video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    transform: translate3d(0, 0, 0);
    filter: saturate(150%) brightness(70%);
}

/* Estilos para la superposición del banner */
.banner .banner-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.banner .banner-overlay .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner .banner-overlay .container img {
    width: 200px;
    /* Ajusta el ancho del logo según tus preferencias */
}

.banner .banner-overlay h1 {
    color: var(--color-blanco);
    font-size: 250%;
    font-family: var(--font-primario);
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner .banner-overlay p {
    color: var(--color-blanco);
    font-family: var(--font-secundario);
    font-weight: 400;
    font-size: 200%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner .banner-overlay button {
    margin-top: 20px;
    background-color: var(--color-botones);
    color: var(--color-subtitle);
    padding: 10px 20px;
    border: none;
    font-style: 16px;
    cursor: pointer;
    box-shadow: var(--sombra);
    font-family: var(--font-primario);
    transition: all 0.2s ease-in-out;
}

/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 767px) {
    .banner .banner-video {
        height: 30vh;
    }

    .banner-overlay h1,
    .banner-overlay p {
        font-size: 2rem;
    }

    .banner .banner-overlay button {
        font-size: 1.4rem;
    }

    .banner .banner-overlay .container {
        align-items: center;
    }
}

/* BOTON COMPRAR */

.boton-comprar {
    background-color: var(--color-primario);
    width: 100%;
    height: 90px;
    box-shadow: var(--inset);
    padding: 10px 0px 0px 0px;
}

.boton-comprar .container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.boton-comprar .columna-1 {
    line-height: 1;
}

.boton-comprar h2 {
    color: var(--color-blanco);
    font-size: 25px;
    font-family: var(--font-primario);
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.boton-comprar p {
    color: var(--color-blanco);
    font-size: 16px;
    font-family: var(--font-terciario);
    font-style: normal;
    font-weight: 400;
}

.boton-comprar .columna-2 {
    text-align: right;
    margin-left: -250px;
}

.boton-comprar .btn-comprar {
    background-color: var(--color-botones);
    color: var(--color-subtitle);
    padding: 10px 20px;
    border: none;
    font-style: 16px;
    cursor: pointer;
    font-family: var(--font-primario);
    font-size: 14px;
    box-shadow: var(--sombra);
    transition: all 0.2s ease-in-out;
}

.boton-comprar .btn-comprar:hover {
    filter: brightness(110%);
}

@media only screen and (max-width: 767px) {

    .boton-comprar {
        height: 170px;
        padding-bottom: 25px;
    }

    .boton-comprar .container {
        flex-direction: column;
        text-align: center;
    }

    .boton-comprar .columna-2 {
        text-align: center;
        margin-left: 0;
    }
}

/* OFERTAS CARRUSEL */

.ofertas {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ofertas .ofertas-carousel {
    width: 100%;
    height: 100%;
    display: flex;
}

.ofertas .ofertas-carousel div {
    flex: 0 0 100%;
}

.ofertas .ofertas-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ofertas .slick-prev,
.ofertas .slick-next {
    position: absolute;
    background-color: transparent;
    border: none;
    color: var(--color-blanco);
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.ofertas .slick-prev:hover,
.ofertas .slick-next:hover {
    filter: brightness(150%);
    color: var(--color-negro);
}

.ofertas .slick-prev {
    left: 10px;
}

.ofertas .slick-next {
    right: 10px;
}

/* CARRUSEL */

.carousel-banner {
    padding-bottom: 35px;
    padding-top: 10px;
    box-shadow: var(--inset);
}

.carousel-banner .container-promo {
    max-width: var(--max-width);
    height: 100%;
    margin: auto;
}

.carousel-banner .container-promo h1 {
    margin-bottom: 30px;
    color: var(--color-negro);
    font-size: 25px;
    font-family: var(--font-primario);
    font-weight: 400;
    text-align: center;
}

.carousel-banner .slick-carousel .promo {
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: var(--sombra);
}

.carousel-banner .slick-carousel img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: all 0.3s ease-in;
    filter: brightness(70%);
    cursor: pointer;
}

.carousel-banner .slick-carousel img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
}

@media only screen and (max-width: 767px) {
    .carousel-banner {
        text-align: center;
    }
}


/* INTRODUCCIÓN */

.introduccion {
    padding-top: 40px;
    padding-bottom: 40px;
    background: var(--color-blanco);
}

.introduccion .container {
    max-width: var(--max-width);
    margin: 0 auto;
    height: 350px;
    display: flex;
    box-shadow: var(--sombra);
}

.introduccion .columna-1 {
    width: 400px;
    height: 350px;
    background: var(--bg-rectangulos);
}

.introduccion .columna-1 .contenido {
    padding: 50px;
}

.introduccion .columna-1 h2 {
    color: var(--color-blanco);
    font-size: 20px;
    font-family: var(--font-primario);
    font-weight: lighter;
}

.introduccion .columna-1 p {
    color: var(--color-blanco);
    font-size: 15px;
    font-weight: lighter;
    font-family: var(--font-terciario);
}

.introduccion .columna-2 {
    width: 800px;
    height: 350px;
}

.introduccion .carrusel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.introduccion .carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introduccion .slick-prev,
.introduccion .slick-next {
    position: absolute;
    background-color: transparent;
    border: none;
    color: var(--color-blanco);
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.introduccion .slick-prev:hover,
.introduccion .slick-next:hover {
    filter: brightness(150%);
    color: var(--color-negro);
}

.introduccion .slick-prev {
    left: 10px;
}

.introduccion .slick-next {
    right: 10px;
}

@media screen and (max-width: 767px) {

    .introduccion {
        margin: 0;
        padding-top: 0;
        margin-bottom: 30%;
    }

    .introduccion .container {
        flex-direction: column;
    }

    .introduccion .columna-1 {
        order: 2;
        width: 100%;
        height: auto;
    }

    .introduccion .columna-2 {
        order: 1;
        width: 100%;
        height: auto;
    }
}

/* CARRUSEL EXPLORA EL PARQUE */

.explorar {
    padding-top: 25px;
    padding-bottom: 55px;
    box-shadow: var(--inset);
}

.explorar h1 {
    color: var(--color-negro);
    font-size: 25px;
    margin-bottom: 35px;
    font-family: var(--font-primario);
    font-weight: 400;
    text-align: center;
}

.explorar .container {
    max-width: 1300px;
    margin: 0 auto;
}

.explorar .carrusel-recorrido {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.explorar .card {
    width: 350px;
    height: 400px;
    position: relative;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: var(--sombra);
    overflow: hidden;
}

.explorar .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    filter: brightness(80%);
}

.explorar .card img:hover {
    transform: scale(1.2);
    filter: brightness(100%);
}

.explorar .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 100px;
    background: var(--bg-rectangulos);
    color: var(--color-blanco);
    box-sizing: border-box;
    box-shadow: var(--sombra);
    padding: 10px;
    text-align: center;
}

.explorar .card-content h3 {
    color: var(--color-blanco);
    font-size: 20px;
    font-family: var(--font-primario);
    font-style: normal;
    font-weight: 400;
    line-height: 1px;
}

.explorar .card-content p {
    color: var(--color-blanco);
    font-size: 14px;
    font-family: var(--font-terciario);
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.explorar .slick-prev,
.explorar .slick-next {
    border: none;
    background: transparent;
}

.explorar .slick-prev i,
.explorar .slick-next i {
    color: var(--color-negro);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.explorar .slick-prev i:hover,
.explorar .slick-next i:hover {
    filter: brightness(150%);
}

@media screen and (max-width: 767px) {

    .explorar {
        text-align: center;
    }

    .explorar h1 {
        margin-left: 11px;
        margin-right: 11px;
    }
}

/* POLLO VACILÓN */

.pollo-vacilon {
    background: var(--color-blanco);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.pollo-vacilon .container {
    max-width: var(--max-width);
    height: 350px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--sombra);
}

.pollo-vacilon .container img {
    width: 100%;
    height: auto;
}

.pollo-vacilon .content {
    position: absolute;
    padding-left: 70px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-blanco);
}

.pollo-vacilon .content h2 {
    color: var(--color-blanco);
    font-size: 30px;
    font-family: var(--font-primario);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.pollo-vacilon .content p {
    color: var(--color-blanco);
    font-size: 20px;
    font-family: var(--font-terciario);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pollo-vacilon .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.pollo-vacilon .buttons button {
    width: 200px;
    height: 50px;
    background-color: var(--color-botones);
    color: black;
    margin-right: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-family: var(--font-primario);
    box-shadow: var(--sombra);
    transition: all 0.2s ease-in-out;
}

.pollo-vacilon .buttons button:hover {
    filter: brightness(120%);
}

@media screen and (max-width: 767px) {

    .pollo-vacilon {
        padding: 0;
    }

    .pollo-vacilon .container img {
        height: 100%;
        width: auto;
    }

    .pollo-vacilon .content {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 0;
    }

    .pollo-vacilon .content h2 {
        font-size: 5vw;
        line-height: 1;
    }

    .pollo-vacilon .content p {
        font-size: 4vw;
    }

    .pollo-vacilon .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .pollo-vacilon .buttons button {
        width: 200px;
        height: 50px;
        margin-bottom: 10px;
    }
}

/* EXPLORAR NUESTRO PARQUE */

.planificar {
    box-shadow: var(--inset);
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    padding-top: 10px;
}

.planificar .container-planificar {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
}

.planificar .container-planificar .row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Alineación inferior */
    margin-bottom: 25px;
    gap: 30px;
}

.planificar .container-planificar .card {
    width: 380px;
    height: 300px;
    position: relative;
    /* Añadido */
    box-shadow: var(--sombra);
    overflow: hidden;
    text-align: center;
}

.planificar .container-planificar h1 {
    color: var(--color-negro);
    font-size: 25px;
    font-family: var(--font-primario);
    font-weight: 400;
    text-align: center;
}

.planificar .container-planificar .card img {
    width: 100%;
    height: auto;
    filter: brightness(80%);
    transition: all 0.2s ease-in-out;
}

.planificar .container-planificar .card img:hover {
    transform: scale(1.2);
    filter: brightness(100%);
}

.planificar .container-planificar .rectangle {
    background: var(--bg-rectangulos);
    height: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    /* Alineación inferior */
    line-height: 0.4;
    padding: 10px 60px 0px 30px;
}

.planificar .container-planificar .rectangle h3 {
    color: var(--color-blanco);
    font-size: 20px;
    font-family: var(--font-primario);
    font-weight: lighter;
}

.planificar .container-planificar .rectangle p {
    color: var(--color-blanco);
    margin-top: 0;
    font-size: 13px;
    font-family: var(--font-terciario);
    line-height: 1.2;
}

/* Estilos para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {

    .planificar .container-planificar {
        margin: 0;
    }

    .planificar .container-planificar .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planificar .container-planificar .card {
        width: calc(100% - 30px);
        max-width: 380px;
        height: 300px;
        margin: 10px;
        position: relative;
        /* Añadido */
        box-shadow: var(--sombra);
        overflow: hidden;
    }

    .planificar .container-planificar .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
        /* Añadido */
    }

    .planificar .container-planificar h1 {
        text-align: center;
    }
}

/* MAPA GOOGLE MAPS */

.mapa {
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

.mapa h1 {
    color: var(--color-negro);
    font-size: 25px;
    font-family: var(--font-primario);
    font-weight: 400;
    text-align: center;
}

.mapa .contenedor {
    max-width: var(--max-width);
    width: 100%;
    position: relative;
}

.mapa .mapa-iframe {
    position: relative;
    padding-bottom: 56.25%;
    /* Proporción 16:9 (para un mapa de Google Maps) */
    height: 0;
    box-shadow: var(--sombra);
}

.mapa-iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapa .mapa-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapa .rectangulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70;
    background: var(--bg-rectangulos);
    color: var(--color-blanco)fff;
    padding: 10px 0px 0px 20px;
    box-sizing: border-box;
    /* Agregado */
}

.mapa .rectangulo h2 {
    color: var(--color-blanco);
    font-size: 20px;
    font-family: var(--font-primario);
    line-height: .3;
    font-weight: lighter;
}

.mapa .rectangulo p {
    color: var(--color-blanco);
    font-size: 18px;
    font-family: var(--font-terciario);
    line-height: 1;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {

    .mapa {
        padding: 0;
    }

    .mapa-iframe {
        padding-bottom: 0;
    }

    .mapa-iframe-responsive {
        position: static;
    }

    .mapa h1 {
        text-align: center;
    }
}

/* WHATSAPP */

#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

#whatsapp-icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#whatsapp-icon img:hover {
    filter: brightness(150%);
}

#whatsapp-chat {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 320px;
    background-color: var(--color-blanco);
    border-radius: 10px;
    box-shadow: var(--sombra);
    z-index: 9998;
    font-family: Arial, sans-serif;
    animation: jellyAnimation 0.6s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes jellyAnimation {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#whatsapp-chat.open {
    display: block;
}

#whatsapp-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #075e54;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#whatsapp-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#whatsapp-title {
    flex: 1;
    color: var(--color-blanco);
    font-weight: bold;
}

#whatsapp-close {
    background: none;
    border: none;
    color: var(--color-blanco);
    font-size: 20px;
    cursor: pointer;
}

#whatsapp-close:focus {
    outline: none;
}

#whatsapp-messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
}

.message.sent {
    text-align: right;
}

.bubble {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f1f0f0;
    border-radius: 10px;
}

.message.sent .bubble {
    background-color: #dcf8c6;
}

.message.received .bubble {
    background-color: #e6e6e6;
}

#whatsapp-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

#whatsapp-input input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #f1f0f0;
}

#whatsapp-input button {
    background-color: #25D366;
    color: var(--color-blanco);
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#whatsapp-input button:hover {
    background-color: #128C7E;
}

/* FORMULARIO DE CONTACTO */

.contacto {
    background: var(--color-blanco);
    padding-top: 20px;
    padding-bottom: 60px;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

.contacto .contacto-container {
    max-width: var(--max-width);
    height: 700px;
    margin: 0 auto;
    /* Agregado margen a los costados */
}

.contacto .form-container {
    display: flex;
    box-shadow: var(--sombra);
}

.contacto .contacto-container h1 {
    color: var(--color-negro);
    font-size: 25px;
    font-family: var(--font-primario);
    font-weight: 400;
    text-align: center;
}

.contacto .contacto-container h2 {
    line-height: 1.2;
    font-weight: lighter;
}

.contacto .form-container button {
    background-color: var(--color-botones);
    color: var(--color-negro);
    padding: 10px 20px;
    border: none;
    font-style: 16px;
    cursor: pointer;
    font-family: var(--font-primario);
    font-size: 14px;
    box-shadow: var(--sombra);
    transition: all 0.2s ease-in-out;
}

.contacto .form-container button:hover {
    filter: brightness(120%);
}

.contacto .form-container a {
    color: var(--color-blanco);
}

.contacto .form-container .col-1 {
    width: 400px;
    height: auto;
    background: #d4d4d4;
    padding: 30px;
}

.contacto .form-container .col-2 {
    flex: 1;
    height: auto;
    background: var(--bg-rectangulos);
    padding: 20px;
    color: var(--color-blanco);
    font-family: var(--font-secundario);
}

@media (max-width: 768px) {

    .contacto {
        padding: 0;
        text-align: center;
    }

    .contacto .contacto-container {
        margin-bottom: 600px;
    }

    .contacto .form-container {
        flex-wrap: wrap;
    }

    .contacto .form-container .col-1 {
        width: 100%;
        margin-bottom: 0;
        /* Eliminado margen inferior */
    }

    .contacto .form-container .col-2 {
        width: 100%;
        flex: 1;
        margin-bottom: 0;
        /* Eliminado margen inferior */
    }
}

.contacto .form-container .form-row {
    margin-bottom: 20px;
    font-family: var(--font-secundario);
}

.contacto .form-container .form-input {
    width: 95%;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--color-gris);
}

.contacto .form-container .form-select {
    width: 100.5%;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--color-gris);
    height: 45px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--color-gris);
}

.contacto .form-container .form-textarea {
    width: 95%;
    height: 100px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--color-gris);
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--color-gris);
}

.contacto .form-container .form-submit {
    width: 100%;
    height: 40px;
    color: var(--color-negro);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-style: 16px;
    cursor: pointer;
    font-family: var(--font-primario);
    transition: all 0.2s ease-in-out;
}

.contacto .form-container .form-submit:hover {
    filter: brightness(150%);
}

/* PÁGINA PAQUETES CUMPLEAÑEROS */

#paquetes-cumpleañeros {
    background-color: var(--color-blanco);
    padding-top: 25px;
    padding-bottom: 25px;
}

#paquetes-cumpleañeros .container {
    max-width: var(--max-width);
    height: 685px;
    margin: 0 auto;
    text-align: left;
}

#paquetes-cumpleañeros h1 {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    font-family: var(--font-primario);
}

#paquetes-cumpleañeros p {
    margin: 20px;
    font-family: var(--font-secundario);
    color: var(--color-gris);
    font-size: 16px;
    line-height: 1.2;
}

#paquetes-cumpleañeros .columnas {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#paquetes-cumpleañeros .columna1 {
    margin: 0 auto;
    position: relative;
}

#paquetes-cumpleañeros .columna1 .carousel {
    width: 800px;
    height: 500px;
}

#paquetes-cumpleañeros .columna1 .carousel img {
    width: 800px;
    height: 540px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#paquetes-cumpleañeros .columna1 .carousel img:hover {
    transform: scale(1.1);
}

#paquetes-cumpleañeros .columna2 {
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#paquetes-cumpleañeros .thumbnails {
    width: 350px;
    height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

#paquetes-cumpleañeros .thumbnails img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#paquetes-cumpleañeros .thumbnails img:hover {
    filter: brightness(60%);
}

#paquetes-cumpleañeros .arrow-up,
#paquetes-cumpleañeros .arrow-down {
    width: 100%;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-terciario);
    border: none;
    color: var(--color-blanco);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paquetes-cumpleañeros .arrow-up:hover,
#paquetes-cumpleañeros .arrow-down:hover {
    opacity: 1;
}

#paquetes-cumpleañeros .arrow-up {
    top: 0;
}

#paquetes-cumpleañeros .arrow-down {
    bottom: 0;
}

/* MODAL CARRUSEL */

#modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content img {
    max-width: 80%;
    max-height: 80%;
    transform: scale(1.2);
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {

    /* Ocultar .thumbnails en pantallas móviles */
    #paquetes-cumpleañeros .thumbnails {
        display: none;
    }

    /* Ajustar estilos de .columna1 para ocupar todo el ancho */
    #paquetes-cumpleañeros .columna1 {
        width: 100%;
    }

    /* Ajustar estilos del carrusel en pantallas móviles */
    #paquetes-cumpleañeros .columna1 .carousel {
        width: 100%;
        height: auto;
        max-height: 540px;
        padding: 15px;
    }

    #paquetes-cumpleañeros .columna1 .carousel img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #paquetes-cumpleañeros .arrow-up,
    #paquetes-cumpleañeros .arrow-down {
        display: none;
    }
}

/* CARACTERISTICAS */

#caracteristicas {
    background: transparent;
}

#caracteristicas .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: var(--max-width);
    height: 100px;
    margin: 0 auto;
}

#caracteristicas .rectangulo {
    width: 120px;
    height: 65px;
    background-color: var(--color-amarillo-claro);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-secundario);
    transition: all 0.3s ease-in-out;
}

#caracteristicas .rectangulo:hover {
    background-color: var(--color-negro);
    color: var(--color-amarillo-claro);
}

#caracteristicas .rectangulo i {
    font-size: 28px;
    margin-bottom: 8px;
}

#caracteristicas .rectangulo span {
    font-size: 15px;
    margin-top: 8px;
}

@media screen and (max-width: 767px) {

    #caracteristicas {
        margin-top: -5cm;
    }

    #caracteristicas .container {
        max-width: 100%;
        height: auto;
        padding: 15px;
    }
}

/* PRODUCTOS DEL PAQUETE CUMPLEAÑERO */

#productos-paq-cumple {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: var(--color-blanco);
}

#productos-paq-cumple .container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#productos-paq-cumple .cuadrado {
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#productos-paq-cumple .rectangulo {
    background-color: var(--color-primario);
    width: 380px;
    height: 100px;
}

#productos-paq-cumple .cuadrado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    /* Agregado */
    max-height: 100%;
    /* Agregado */
    cursor: pointer;
}

#productos-paq-cumple .cuadrado img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    #productos-paq-cumple .container {
        flex-direction: column;
        align-items: center;
    }

    #productos-paq-cumple .card {
        margin-bottom: 30px;
    }

    #productos-paq-cumple .cuadrado {
        width: 100%;
        height: auto;
    }

    #productos-paq-cumple .cuadrado img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* PÁGINA ZONA GAMER */

.atracciones-section {
    padding: 30px 0;
}

.atracciones-section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid var(--color-gris);
    /* Ajusta la altura según tus necesidades */
}

.atracciones-section .column1 {
    width: 650px;
    padding-left: 50px;
    padding-right: 50px;
}

.atracciones-section .column1 h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: var(--font-primario);
    font-weight: lighter;
}

.atracciones-section .column1 p {
    font-size: 16px;
    font-family: var(--font-terciario);
    color: var(--color-gris);
}

.atracciones-section .column2 {
    width: 550px;
    height: auto;
    overflow: hidden;
}

.atracciones-section .column2 iframe {
    width: 100%;
    height: 270px;
    transition: all 0.3s ease-in-out;
}

.atracciones-section .column2 img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
    .atracciones-section .container {
        flex-direction: column;
        height: auto;
    }

    .atracciones-section .column1,
    .atracciones-section .column2 {
        width: 100%;
        padding: 0 20px;
        order: initial;
        /* Volvemos al orden original en versión desktop */
    }

    .atracciones-section .column2 {
        order: 1;
        /* Aseguramos que el iframe esté arriba en versión responsive */
    }

    .atracciones-section .column2 iframe {
        height: 200px;
        /* Ajusta la altura del video según tus necesidades */
    }
}