body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    --espacio: 20px;
    --morado: #724C9F;
    --purpura: #432F87;
    --celeste: #2BABE2;
    --amarillo: #FFD200;
    --verde: #77C043;
    --naranja: #F58220;
    --rosado: #EA0B8B;
    --rojo: #EC2127;
    --gris: #6b6b6b;
    --blanco: #fff;
    --negro: #040404;
    --font-msize: 1.9rem;
    --font-size: 1.3rem;
    --font-subsize: 0.8rem;
    --font-primario: Paytone One;
    --font-secundario: 'Jockey One', sans-serif;
    --font-terciario: 'Poppins', sans-serif;
    --sombra: 0 4px 5px rgba(0, 0, 0, .35);
    --max-width: 1000px;
    --fondo: #f4f4f4;
}

/* ATRIBUTOS GLOBALES */

.swiper-button-prev,
.swiper-button-next {
    --swiper-navigation-color: var(--rojo);
    --swiper-theme-color: var(--rojo);
}

.main-content {}

h1 {
    margin: 0;
}

main {
    margin-left: 50px;
    overflow: hidden;
    background: var(--fondo);
}

img,
video {
    filter: saturate(150%);
}

a {
    text-decoration: none;
    color: var(--blanco);
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--amarillo);
}

button {
    width: auto;
    border: none;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--rosado);
    color: var(--blanco);
    font-size: var(--font-subsize);
    font-family: var(--font-secundario);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--sombra);
}

button:hover {
    transform: scale(0.95);
    filter: brightness(120%);
}

#ingresar {
    background: var(--celeste);
}


.title {
    display: flex;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    /* Establecemos posición relativa en el contenedor */
}

.title h1 {
    font-size: var(--font-msize);
    font-family: var(--font-primario);
    font-weight: lighter;
    text-align: center;
    width: auto;
    color: var(--purpura);
    border-radius: 10px;
    z-index: 4;
}

/* SUBNAVBAR */

.subnavbar {
    width: 50px;
    height: 100vh;
    background: linear-gradient(to bottom, var(--purpura), var(--morado));
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    box-shadow: var(--sombra);
    overflow: hidden;
    z-index: 5;
}

.subnavbar a {
    padding: 10px 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.subnavbar a:hover {
    background: var(--morado);
}

.subnavbar img {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

/* NAVBAR */

.navbar {
    width: 100%;
    position: fixed;
    z-index: 5;
    box-shadow: var(--sombra);
}

.navbar .row {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-evenly;
    width: 100%;
    background: linear-gradient(to right, var(--purpura), var(--morado));
}

.navbar .row-gradient {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, var(--rojo), var(--rosado), var(--naranja), var(--amarillo), var(--verde), var(--celeste), var(--morado), var(--purpura));
}

.navbar .navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primario);
    color: var(--blanco);
    font-size: var(--font-subsize);
    height: 100%;
}

.navbar .navigation li {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.navbar .navigation li:hover {
    background: var(--morado);
}

.navbar .navigation .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    list-style: none;
    background: var(--purpura);
    transition: all 0.3s ease-in-out;
}

.navbar .navigation .submenu li {
    float: none;
    width: 200px;
}

.navbar .navigation .submenu li a {
    padding: 15px 0;
}

.navbar .navigation li:hover>.submenu {
    display: block;
}

.navbar .navigation a {
    display: flex;
    gap: 3px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navbar .logo {
    width: 100px;
    margin-top: 20px;
    background: var(--purpura);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    padding: 10px;
    text-align: center;
}

.navbar .icons {
    display: flex;
    gap: 10px;
}

.navbar .logo img {
    width: 100%;
}

.navbar .hamburguer {
    display: none;
    color: var(--blanco);
    cursor: pointer;
}

/* NAVBAR RESPONSIVE */


#menuPanel {
    display: none;
    background: var(--morado);
    color: var(--blanco);
    position: fixed;
    top: 0;
    right: -350px;
    height: 100%;
    width: 250px;
    padding: 20px;
    z-index: 5;
    transition: right 0.3s ease;
}

/* Estilos para la "x" de cierre */
#menuPanel .close-button {
    position: absolute;
    background: var(--amarillo);
    padding: 5px 10px;
    border-radius: 5px;
    top: 20px;
    /* Ajusta la posición vertical según tus preferencias */
    right: 20px;
    /* Ajusta la posición horizontal según tus preferencias */
    cursor: pointer;
    font-size: var(--font-size);
    color: var(--blanco);
    /* Color de la "x" */
}


#menuPanel.open {
    right: 0;
}

#menuPanel .panel-navigation {
    margin-top: 60px;
    list-style: none;
    padding: 0;
    font-family: var(--font-secundario);
}

#menuPanel .panel-navigation li {
    margin: 10px 0;
}

#menuPanel .panel-navigation li a {
    color: var(--blanco);
}

/* promos */

.promos {
    display: flex;
    height: 500px;
}

.promos .articulo {
    max-width: 1600px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.promos .articulo video,
.promos .articulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ATRACCIONES */

.atracciones {
    padding: var(--espacio) 0;
    display: flex;
    justify-content: center;
}

.atracciones .container {
    max-width: var(--max-width);
    width: 100%;
}

.atracciones .carrusel-atracciones {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    padding: var(--espacio) 0 0 0;
}

.atracciones .card {
    border-radius: 20px;
    position: relative;
    height: 300px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.atracciones i {
    position: absolute;
    z-index: 5;
    color: var(--purpura);
    padding: 10px;
    transform: translateX(50%);
    background: var(--blanco);
    border-radius: 0 0 5px 5px;
}

.atracciones .text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: flex-end;
    transition: all 0.2s ease-in-out;
}

.atracciones .text h1 {
    margin: 0;
    padding: 20px;
    color: var(--blanco);
    font-family: var(--font-primario);
    font-size: var(--font-subsize);
    font-weight: lighter;
}

.atracciones .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.atracciones swiper-slide:hover img {
    transform: scale(1.1);
}

.atracciones swiper-slide:hover>.text {
    padding-bottom: 5px;
}

/* GASTRONOMIA */

.gastronomia {
    display: flex;
    justify-content: center;
    padding: var(--espacio) 0;
}

.gastronomia .container {
    max-width: var(--max-width);
}

.gastronomia .contenido {
    display: flex;
    gap: 20px;
    padding: var(--espacio) 0 0 0;
}

.gastronomia .col-1 {
    width: 50%;
    border-radius: 20px;
    box-shadow: var(--sombra);
    background: var(--naranja);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gastronomia .col-1 .text {
    padding: 40px;
}

.gastronomia .col-1 .text h1 {
    color: var(--blanco);
    font-family: var(--font-primario);
    font-size: var(--font-size);
    font-weight: lighter;
}

.gastronomia .col-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gastronomia .card .image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: var(--sombra);
}

.gastronomia .card .image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.gastronomia .card .text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to top, var(--negro), transparent 40%);
}

.gastronomia .card .text h1 {
    margin: 0;
    padding: 20px;
    color: var(--blanco);
    font-family: var(--font-primario);
    font-size: var(--font-subsize);
    font-weight: lighter;
}

/* SERVICIOS */

.servicios {
    padding: var(--espacio) 0;
}

.servicios .container {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.servicios .contenido {
    padding: var(--espacio) 0;
    display: flex;
}


.servicios .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--blanco);
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.servicios .image {
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.servicios i {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--blanco);
    color: var(--purpura);
    padding: 10px;
    border-radius: 50%;
    font-size: var(--font-size);
    z-index: 5;
}

.servicios .card .text {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    z-index: 4;
    background: var(--blanco);
}

.servicios .card .text h1 {
    padding-top: 15px;
    color: var(--purpura);
    font-family: var(--font-primario);
    font-size: var(--font-subsize);
    font-weight: lighter;
    text-transform: uppercase;
}

.servicios .card .text p {
    color: var(--gris);
    font-family: var(--font-terciario);
    font-size: var(--font-subsize);
}

.servicios .image img {
    width: 120%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.servicios .image:hover img {
    transform: scale(1.1);
}

/* MAPA */

.mapa {
    display: flex;
    justify-content: center;
}

.mapa .container {
    max-width: var(--max-width);
    width: 100%;
    padding: var(--espacio) 0;
}

.mapa .container .contenido {
    display: flex;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    padding: var(--espacio) 0 0 0;
}

.mapa .container .frame {
    width: 70%;
}

.mapa .container .content {
    width: 30%;
    background: var(--purpura);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.mapa .container .content h1 {
    color: var(--blanco);
    font-family: var(--font-primario);
    font-weight: lighter;
    font-size: var(--font-size);
    padding: 0;
    margin: 0;
}

.mapa .container .content p {
    color: var(--blanco);
    font-family: var(--font-terciario);
    font-size: var(--font-subsize);
}

/* RESEÑAS */

.reseñas {
    display: flex;
    justify-content: center;
    padding: var(--espacio) 0;
}

.reseñas .container {
    max-width: var(--max-width);
    width: 100%;
}

.reseñas .container .reseña-carrusel {
    display: flex;
    padding: var(--espacio) 0 0 0;
}

.reseñas .container .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: var(--blanco);
    z-index: 4;
    overflow: hidden;
    border-radius: 20px;
}

.reseñas .punt {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.reseñas .container .card img {
    height: 20px;
}

.reseñas .container .card h1 {
    color: var(--rosado);
    font-family: var(--font-primario);
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-size: var(--font-size);
}

.reseñas .container p {
    font-size: var(--font-subsize);
    color: var(--gris);
    font-family: var(--font-terciario);
}

/* FOOTER */

.footer {
    padding: var(--espacio) 0 0 0;
    display: flex;
    justify-content: center;
}

.footer .container {
    background: var(--purpura) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:rgba(255, 255, 255, 0);display:block;z-index:1;position:relative" width="1821" height="118" preserveAspectRatio="xMidYMid" viewBox="0 0 1821 118"><g transform="translate(910.5,59) scale(1,1) translate(-910.5,-59)"><linearGradient id="lg-0.1331824113607536" x1="0" x2="1" y1="0" y2="0"><stop stop-color="%23edeaea" offset="0"></stop><stop stop-color="%23edeaea" offset="1"></stop></linearGradient><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="0s" values="M0 0L 0 5.139012784219425Q 455.25 76.39418076716106 910.5 55.86589320003695T 1821 -5.7377661024163675L 1821 0 Z;M0 0L 0 34.11636859529314Q 455.25 66.52019551861815 910.5 49.00159316314182T 1821 -4.685035018832005L 1821 0 Z;M0 0L 0 55.48492267702336Q 455.25 67.82455674535859 910.5 53.719462230340554T 1821 43.00956391501743L 1821 0 Z;M0 0L 0 5.139012784219425Q 455.25 76.39418076716106 910.5 55.86589320003695T 1821 -5.7377661024163675L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-1s" values="M0 0L 0 32.40791273908477Q 455.25 89.62072813397651 910.5 55.66156520924142T 1821 14.514922674990014L 1821 0 Z;M0 0L 0 16.780511987584926Q 455.25 11.95729252168474 910.5 -5.436844207908242T 1821 17.02639120274712L 1821 0 Z;M0 0L 0 -0.5289188317558988Q 455.25 58.29551971096707 910.5 9.638437483482896T 1821 -0.8178993381779378L 1821 0 Z;M0 0L 0 32.40791273908477Q 455.25 89.62072813397651 910.5 55.66156520924142T 1821 14.514922674990014L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2s" values="M0 0L 0 9.16343864066045Q 455.25 39.31031059193626 910.5 13.14568779179093T 1821 2.350105321577288L 1821 0 Z;M0 0L 0 20.548122297898477Q 455.25 48.59440315412988 910.5 6.151777324739488T 1821 41.095634034556255L 1821 0 Z;M0 0L 0 3.155987402894805Q 455.25 83.52426237752996 910.5 58.080328536724735T 1821 24.896796382129082L 1821 0 Z;M0 0L 0 9.16343864066045Q 455.25 39.31031059193626 910.5 13.14568779179093T 1821 2.350105321577288L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-3s" values="M0 0L 0 38.887290448353625Q 455.25 41.81040554770037 910.5 24.34279988048019T 1821 11.471950056337704L 1821 0 Z;M0 0L 0 8.989623189675168Q 455.25 97.18658048464515 910.5 58.647592361827165T 1821 10.305887443672141L 1821 0 Z;M0 0L 0 20.679557336888394Q 455.25 46.065835147762286 910.5 8.916540490533439T 1821 43.9113269702728L 1821 0 Z;M0 0L 0 38.887290448353625Q 455.25 41.81040554770037 910.5 24.34279988048019T 1821 11.471950056337704L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-4s" values="M0 0L 0 43.479402593340204Q 455.25 43.28852721230882 910.5 18.298186780899T 1821 51.19127718674324L 1821 0 Z;M0 0L 0 25.837951845681204Q 455.25 44.687246733656885 910.5 2.627954483356236T 1821 48.1903205835868L 1821 0 Z;M0 0L 0 25.093761088486424Q 455.25 50.72174777519746 910.5 4.953058243742772T 1821 42.05209372986338L 1821 0 Z;M0 0L 0 43.479402593340204Q 455.25 43.28852721230882 910.5 18.298186780899T 1821 51.19127718674324L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5s" values="M0 0L 0 58.1255736718171Q 455.25 74.61838763090066 910.5 50.46655199281315T 1821 43.54737594187472L 1821 0 Z;M0 0L 0 10.694431377443394Q 455.25 68.00111011895066 910.5 50.40339631509123T 1821 1.9079593438421423L 1821 0 Z;M0 0L 0 40.67428815098065Q 455.25 60.27009786675093 910.5 30.44586820744876T 1821 16.41349724178828L 1821 0 Z;M0 0L 0 58.1255736718171Q 455.25 74.61838763090066 910.5 50.46655199281315T 1821 43.54737594187472L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-6s" values="M0 0L 0 -4.084031107232544Q 455.25 41.280206437430735 910.5 21.344304183381606T 1821 38.18751627746248L 1821 0 Z;M0 0L 0 38.956308279467066Q 455.25 62.815814827722036 910.5 31.57921270765135T 1821 15.610354042500767L 1821 0 Z;M0 0L 0 55.28034719350725Q 455.25 79.01948568564232 910.5 38.42147161429159T 1821 54.15163393021892L 1821 0 Z;M0 0L 0 -4.084031107232544Q 455.25 41.280206437430735 910.5 21.344304183381606T 1821 38.18751627746248L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-7s" values="M0 0L 0 44.54977751813702Q 455.25 87.06450035762329 910.5 56.520222150605214T 1821 26.54644541468278L 1821 0 Z;M0 0L 0 46.41613918847464Q 455.25 68.31730709461564 910.5 35.76241665585574T 1821 53.05292200526915L 1821 0 Z;M0 0L 0 54.592145872372306Q 455.25 62.259083458660044 910.5 38.33231535752161T 1821 52.44742620632366L 1821 0 Z;M0 0L 0 44.54977751813702Q 455.25 87.06450035762329 910.5 56.520222150605214T 1821 26.54644541468278L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-8s" values="M0 0L 0 1.8441345030663001Q 455.25 65.60590190442035 910.5 15.644368120980875T 1821 11.4872174144096L 1821 0 Z;M0 0L 0 16.288353692345698Q 455.25 20.595802590110615 910.5 3.5528057119133845T 1821 10.805114776139444L 1821 0 Z;M0 0L 0 50.11803908927821Q 455.25 25.47544575913369 910.5 3.5062262321149156T 1821 22.227451932395283L 1821 0 Z;M0 0L 0 1.8441345030663001Q 455.25 65.60590190442035 910.5 15.644368120980875T 1821 11.4872174144096L 1821 0 Z"></animate></path><path d="" fill="url(%23lg-0.1331824113607536)" opacity="0.4"><animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-9s" values="M0 0L 0 45.700079699175994Q 455.25 73.1603212012054 910.5 37.095835683869836T 1821 42.07033576235026L 1821 0 Z;M0 0L 0 50.706013123836236Q 455.25 50.41773549392401 910.5 15.093008380498468T 1821 26.88803929778558L 1821 0 Z;M0 0L 0 32.88970042071208Q 455.25 37.49205722228851 910.5 1.4271852232500972T 1821 4.543563153980282L 1821 0 Z;M0 0L 0 45.700079699175994Q 455.25 73.1603212012054 910.5 37.095835683869836T 1821 42.07033576235026L 1821 0 Z"></animate></path></g></svg>');
    width: 100%;
    padding: 150px var(--espacio) 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer .container .row {
    display: flex;
    max-width: var(--max-width);
    width: 100%;
    justify-content: space-between;
}

.footer .container .row img {
    width: 140px;
}

.footer .container .row h1 {
    color: var(--blanco);
    font-family: var(--font-primario);
    font-weight: lighter;
    font-size: var(--font-size);
}

.footer .container .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .container .row ul li {
    color: var(--blanco);
    font-size: var(--font-subsize);
    font-family: var(--font-terciario);
}

.footer .container .terms {
    max-width: var(--max-width);
    background: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--sombra);
}

.footer .container .terms h1 {
    color: var(--negro);
    font-size: var(--font-subsize);
    font-family: var(--font-terciario);
}

@media (max-width: 1100px) {

    main {
        margin: 0;
    }

    /* NAVBAR */

    .navbar .hamburguer {
        display: block;
    }

    .navbar .row {
        justify-content: space-between;
    }

    .navbar .navigation {
        display: none;
    }

    .navbar .icons {
        display: none;
    }

    #menuPanel {
        display: block;
    }

    /* subnavbar */

    .subnavbar {
        background: linear-gradient(to right, var(--purpura), var(--morado));
        width: 100%;
        height: 50px;
        z-index: 5;
        top: auto;
        bottom: 0;
        flex-direction: row;
        left: 0;
        padding: 5px;
    }

    .subnavbar img {
        height: 40px;
        object-fit: contain;
    }

    /* promos */

}

@media (max-width: 900px) {

    /* promos */

    .promos .contenido {
        width: 100%;
        order: 2;
    }

    .promos .articulo {
        width: 100%;
    }

}

@media (max-width: 600px) {

    .main-content {
        padding: 0 20px;
    }

    .title h1 {
        width: 100%;
    }

    /* GASTRONOMÍA */

    .gastronomia .contenido {
        flex-direction: column;
    }

    .gastronomia .col-1,
    .gastronomia .col-2 {
        width: 100%;
    }

    .mapa .container .contenido {
        flex-direction: column;
    }

    .mapa .container .frame,
    .mapa .container .content {
        width: 100%;
    }

}